/* Reset */

*,
*::before,
*::after {
    box-sizing:border-box;
}

body,
h1, h2, h3, p, ul, figure {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Variables */

:root {
    /* Couleurs */
    --fond-nav: #020D4B;
    --fond: #14527A;
    --accent: #00B2FF;
    --texte-attenue: #8FB0C8;
    --texte-clair: #C6DCEC;

    /* Typographie */

    --police-titre: 'Lemon', cursive;
    --police-texte: 'Manrope', sans-serif;
}

/* Base */

body {
    font-family: var(--police-texte);
    background-color: var(--fond);
    color: var(--texte-clair);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Composants */

.logo {
    width: 64px;
    height: auto;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.nav-btn {
    border: 3px solid var(--accent);
    border-radius: 20px;
    padding: 10px;
}

/* Layout */

.conteneur {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 40px;
}

header {
    background-color: var(--fond-nav);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent);
}

.marque {
    display: flex;
    gap: 25px;
    padding: 15px 0 ;
    align-items: center;
}

.marque-texte {
    display: flex;
    flex-direction: column;
}

.marque-nom {
    font-family: var(--police-titre);
    font-size: 22px;
}

.nav-liens {
    display: flex;
    gap: 50px;
    align-items: center;
}

footer {
    background-color: var(--fond-nav);
    padding: 60px 0 24px;
}

footer span {
    color: var(--accent);
}

.footer-colonnes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-legal ul {
    display: flex;
    gap: 32px;
}

footer h3 {
    color: var(--accent);
}

/* Media queries */

@media (max-width: 900px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .nav-liens {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .marque-baseline {
        display: none;
    }
}